<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script><meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgriTech Nexus | About</title>
    <!-- <link rel="stylesheet" href="static\styles\styleHome.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styleAbout.css') }}">
    <script src="https://kit.fontawesome.com/e06d8c09f9.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-scroll">
        <div class="container">
          <!-- <img src="https://mdbootstrap.com/img/Photos/new-templates/animal-shelter/logo.png" height="70" alt=""
            loading="lazy" /> -->
            <i class="fa-solid fa-wheat-awn fa-3x logo"></i>
          <button class="navbar-toggler ps-0" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
            aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon d-flex justify-content-start align-items-center">
              <i class="fas fa-bars"></i>
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="http://127.0.0.1:5000/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="http://127.0.0.1:5004/">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="http://127.0.0.1:5005/">Contacts Us</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#foundation">Foundation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#help">How can I help?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#education">Education</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#about">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#contact">Contact</a>
              </li> -->
            </ul>
      
            <!-- <ul class="navbar-nav flex-row">
              <li class="nav-item">
                <a class="nav-link px-2" href="#!">
                  <i class="fab fa-facebook-square"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-2" href="#!">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link ps-2" href="#!">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
            </ul> -->
          </div>
        </div>
      </nav>

    <h1 class="heading">Meet Our Team</h1>
    <!-- <h2 class="heading">Meet Our Team</h1> -->

    <div class="team-section">
        <div class="team-member">
            <img src="static\images\Shri.jpg" alt="Team Member 1">
            <h3>Shrimohan Tripathi</h3>
            <p class="role">20BAI10088</p>
            <a href="https://github.com/Shri2131" class="fa fa-github" target="_blank"></a>
            <a href="https://www.linkedin.com/in/shrimohan-tripathi/" class="fa fa-linkedin" target="_blank"></a>
            <a href="https://www.instagram.com/shri_2131/" class="fa fa-instagram" target="_blank"></a>
        </div>
        <div class="team-member">
          <img src="static\images\Nishita.jpg" alt="Team Member 3">
          <h3>Nishita Gunjal</h3>
          <p class="role">20BAI10186</p>
          <a href="https://github.com/nishita02" class="fa fa-github" target="_blank"></a>
          <a href="https://www.linkedin.com/in/nishita-gunjal-220108221/" class="fa fa-linkedin" target="_blank"></a>
          <a href="https://www.instagram.com/nishita_gunjal/" class="fa fa-instagram" target="_blank"></a>
        </div>
        <div class="team-member">
            <img src="static\images\Anfi.jpg" alt="Team Member 2">
            <h3>Anfinsen Joseph</h3>
            <p class="role">20BAI10192</p>
            <a href="https://github.com/Anfinsen55" class="fa fa-github" target="_blank"></a>
            <a href="https://www.linkedin.com/in/josephanfinsen1309/" class="fa fa-linkedin" target="_blank"></a>
            <a href="https://www.instagram.com/anfinsen_joseph/" class="fa fa-instagram" target="_blank"></a>
        </div>
        </div>
    
    <footer class="footer-distributed">

        <div class="footer-left">
      <!-- <img src="img/logo.png"> -->
            <h3>Agritech<span>Nexus</span></h3>

            <p class="footer-links">
                <a href="http://127.0.0.1:5000/">Home</a>
                |
                <!-- <a href="#">Blog</a>
                | -->
                <a href="http://127.0.0.1:5004/">About</a>
                |
                <a href="http://127.0.0.1:5005/">Contact</a>
            </p>

            <p class="footer-company-name">© 2024 AgriTechNexus Pvt. Ltd.</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                  <p><span>Vellore Institute of Technology University</span>
                    Bhopal, Madhya Pradesh - 466114</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+91 75602 54500</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:info@vitbhopal.ac.in">info@vitbhopal.ac.in</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the project</span>
                We offer trained ML Models for different agricultural needs.</p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>

</body>
</html>